# MongodbDriver Configuration File
# Created 2020-11-10 19:47:11.627576
[mongodb]

# If true, we will perform causal reads 
causal_consistency   = True

# If >1 then sharded
shards               = 1

# If true, all things to update will be fetched via findAndModify
findandmodify        = false

# Database name
name                 = tpcc

# If true, we will allow secondary reads
secondary_reads      = false

# If true, data will be denormalized using MongoDB schema design best practices
denormalize          = false

# If true, transactions will not be used (benchmarking only)
notransactions       = true

# The mongodb connection string or URI
uri                  = mongodb://172.23.100.121:27014

# If true, we will enable retryable writes
retry_writes         = false

